.venv/
rnaseq_env/
data/*.fastq
data/*.fastq.gz
data/*trimmed.fastq
data/*unpaired.fastq
data/*.tar
data/*.txt.gz
data/*.fpkm.xlsx
data/*.txt
data/fastqc_output/
HISAT2/grch38/
HISAT2/*.bam
HISAT2/*.summary
HISAT2/*.tar
HISAT2/*.gtf
HISAT2/s*.txt
tools/Trimmomatic-0.39/
tools/*.zip
.ipynb_checkpoints/
*.pdf
__pycache__/
*.pyc